p#notice= notice
p= @contact.image.file.url if @contact.image
p= @contact.first_name
p= @contact.last_name
p= @contact.phone
p= @contact.email
p= @contact.category.name if @contact.category
= link_to 'Edit', edit_contact_path(@contact)
| \
= link_to 'Back', contacts_path